@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xxs {
  font-size: 10px !important;
}

// For iOS 15 and above to fix the Safari issue with the browser bar at the bottom
.flex.flex-col.min-h-screen {
  padding-bottom: env(safe-area-inset-bottom);
}

.swiper-container {
  overflow: hidden;
  height: calc(100vh - 76px) !important;
}

.swiper-pagination-bullet-active {
  background-color: #316fe0 !important;
  border-radius: 0px;
  width: 80px;
  height: 5px;
}

.swiper-pagination-bullet {
  border-radius: 0px;
  width: 80px;
  height: 5px;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 80px !important;
}

@keyframes pulse-black {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.blob.green {
  box-shadow: 0 0 0 0 rgba(51, 217, 178, 1);
  animation: pulse-green 2s infinite;
}

.blob {
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  animation: pulse-black 2s infinite;
}

@keyframes pulse-green {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(51, 217, 178, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(51, 217, 178, 0);
  }
}
