@tailwind base;
@tailwind components;
@tailwind utilities;

.text-xxs {
  font-size: 10px !important;
}

// For iOS 15 and above to fix the Safari issue with the browser bar at the bottom
.flex.flex-col.min-h-screen {
  padding-bottom: env(safe-area-inset-bottom);
}

.swiper-container {
  overflow: hidden;
  height: calc(100vh - 76px) !important;
}

.swiper-pagination-bullet-active {
  background-color: #316fe0 !important;
  border-radius: 0px;
  width: 80px;
  height: 5px;
}

.swiper-pagination-bullet {
  border-radius: 0px;
  width: 80px;
  height: 5px;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
  top: 80px !important;
}
